@import "config/fonts";
@import "config/vars";
@import "config/reset";
@import "config/global";
@import "config/libs";

@import "config/media";

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 30;
	&__inner {
		position: relative;
		display: flex;
		justify-content: space-between;
		height: 80px;
		align-items: center;
		border-bottom: 1px solid rgba(255, 255, 255, 0.05);
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			max-width: 100%;
			height: 100%;
			background-color: #232536;
		}
	}
	&__container {
		width: 1310px;
		margin: 0 auto;
		padding: 0 15px;
		display: flex;
		justify-content: space-between;
		z-index: 5;
	}
	&__logo {
		z-index: 5;
	}
	&__list {
		display: flex;
	}
	&__list-item {
		margin-right: 30px;
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 24px;
		color: #ffffff;
		opacity: 0.6;
	}
	&__list-item--active {
		opacity: 1;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: -28px;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: #ffa155;
		}
	}
	&__list-item--color {
		color: #ffd3af;
		opacity: 1;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			right: -28px;
			top: 8px;
			width: 21px;
			height: 9px;
			background-image: url(../images/icons/right-arrow.svg);
		}
	}
	&__burger {
		cursor: pointer;
		z-index: 5;
	}
}
.footer {
	.subtitle {
		width: 460px;
	}
	&__content {
		display: flex;
		padding-top: 70px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 37px;
			height: 34px;
			background-image: url(../images/icons/footer-decor1.svg);
		}
	}
	&__content-box {
		margin-right: 205px;
	}
	&__list {
		& + .footer__list {
			margin-left: 80px;
		}
	}
	&__list-item {
		margin-top: 15px;
	}
	&__content-subtitle {
		font-weight: 600;
		font-size: 2.4rem;
		line-height: 36px;
		margin-bottom: 30px;
	}
	&__content-links {
		padding-bottom: 15px;
		margin-bottom: 15px;
		width: 268px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	}
	&__content-email {
		margin-top: 5px;
	}
	&__content-email,
	&__content-tel {
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 28px;
		display: block;
		width: 135px;
	}
	&__nav-item {
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 28px;
		& + .footer__nav-item {
			margin-top: 15px;
		}
	}
	&__list-title {
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 28px;
	}
	&__list-item {
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 20px;
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		padding-bottom: 65px;
	}
	&__bottom-adres {
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 20px;
		width: 210px;
	}
	&__bottom-link {
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 24px;
		cursor: pointer;
		img {
			padding-left: 10px;
			padding-top: 7px;
		}
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: -55px;
			top: 5px;
			width: 50px;
			height: 14px;
			background-image: url(../images/icons/footer-decor2.svg);
		}
	}
	&__popup {
		width: 100%;
		min-height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		overflow: hidden;
		position: fixed;
		top: 0px;
		transform: translateY(300%);
		&.active {
			transform: translateY(0%);
		}
	}
	&__popup-content {
		display: flex;
		flex-direction: column;
		width: 900px;
		background-color: #fff;
		margin: auto;
		padding: 130px 100px 130px 130px;
	}
	&__popup-cross {
		width: 48px;
		height: 48px;
		background-color: black;
		display: flex;
		justify-content: center;
		cursor: pointer;
		margin-left: 100%;
	}
	&__popup-form {
		display: flex;
		flex-direction: column;
		width: 405px;
	}
	&__popup-title {
		font-weight: 600;
		font-size: 4.8rem;
		line-height: 58px;
		width: 690px;
		margin-bottom: 25px;
	}
	&__popup-subtitle {
		font-size: 1.6rem;
		line-height: 24px;
		opacity: 0.87;
		margin-bottom: 65px;
	}
	&__popup-input {
		margin-bottom: 25px;
		padding: 10px;
		border-bottom: 1px solid rgba(35, 37, 54, 0.1);
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 24px;
	}
	&__popup-btn{
		@extend %btn;
	}
	.footer-copyright {
		background: #ffe6d2;
		&__inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 28px 0;
		}
		&__inner-box {
			align-items: center;
			display: flex;
		}
		&__list {
			display: flex;
			gap: 27px;
		}
		&__title {
			padding-left: 45px;
			font-weight: 500;
			font-size: 1.6rem;
			line-height: 24px;
		}
	}
}

.title {
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 20px;
	letter-spacing: 3px;
	text-transform: uppercase;
	opacity: 0.87;
	margin-bottom: 15px;
}
.subtitle {
	margin-bottom: 25px;
	font-weight: 600;
	font-size: 48px;
	line-height: 58px;
	width: 622px;
}
.text {
	font-size: 1.6rem;
	line-height: 24px;
	color: #5d5f6d;
	width: 622px;
}
.top-view {
	background: #232536;
	color: #fff;
	margin-top: 79px;
	padding-top: 100px;
	&__inner {
		display: flex;
	}
	&__content {
		padding-top: 100px;
		margin-right: 100px;
		width: 625px;
	}
	&__images {
		img {
			max-width: 523px;
			width: 100%;
			height: auto;
		}
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: -16px;
			bottom: 0;
			width: 16px;
			height: 100px;
			background-image: url(../images/icons/decor-img-1.svg);
		}
		&::after {
			content: "";
			position: absolute;
			right: -24px;
			top: 0;
			height: 320px;
			width: 24px;
			background-image: url(../images/icons/decor-img-2.svg);
		}
	}
	&__title {
		font-weight: 600;
		font-size: 5.6rem;
		line-height: 68px;
		margin-bottom: 25px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: -50px;
			width: 24px;
			height: 24px;
			background: rgba(255, 255, 255, 0.06);
		}
	}
	&__text {
		font-size: 1.6rem;
		line-height: 24px;
		margin-bottom: 55px;
		opacity: 0.6;
		width: 528px;
	}
	&__btn {
		@extend %btn;
	}
	&__bottom {
		padding-top: 60px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__bottom-with {
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 28px;
	}
	&__bottom-clients {
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 20px;
		opacity: 0.6;
	}
	&__clients {
		display: flex;
		gap: 32px;
	}
}
.about {
	padding: 120px 0 100px 0;
	.subtitle {
		width: 645px;
		margin-right: 80px;
	}
	&__text-block {
		display: flex;
		margin-bottom: 50px;
	}
	&__right-title {
		width: 550px;
		font-weight: 600;
		font-size: 3.6rem;
		line-height: 54px;
		margin-bottom: 15px;
	}
	&__right-subtitle {
		width: 550px;
		font-size: 1.6rem;
		line-height: 24px;
		color: #5d5f6d;
	}
	&__images {
		display: flex;
		gap: 10px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			right: 2px;
			top: 0;
			width: 18px;
			height: 100%;
			background-image: url(../images/icons/about-decor.svg);
		}
	}
	&__bottom {
		padding-top: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__statistic {
		display: flex;
		gap: 65px;
	}
	&__statistic-title {
		font-weight: 700;
		font-size: 3.6rem;
		line-height: 54px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			bottom: -8px;
			left: 0;
			width: 72px;
			height: 6px;
			background-image: url(../images/icons/about-decor-2.svg);
		}
	}
	&__statistic-text {
		margin-top: 20px;
		font-size: 1.6rem;
		line-height: 24px;
	}
	&__bottom-link {
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 24px;
		color: #444cfc;
		opacity: 0.87;
		img {
			margin-top: 7px;
			margin-left: 10px;
		}
		&:hover {
			opacity: 1;
		}
	}
}
.expertise {
	background: #ecf8f9;
	padding: 110px 0 100px 0;
	&__inner {
		display: flex;
		gap: 140px;
	}
	&__content {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: -16px;
			width: 16px;
			height: 16px;
			background: #444cfc;
		}
		&::after {
			content: "";
			position: absolute;
			bottom: -8px;
			left: 0;
			height: 8px;
			width: 100%;
			background-image: url(../images/icons/our-decor-1.svg);
		}
	}
	&__content-item {
		width: 515px;
		height: 140px;
		padding: 30px 0 0 95px;
		background-color: #fff;
		& + .our__content-item {
			margin-top: 12px;
		}
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 47px;
			height: 47px;
			top: 33px;
			left: 32px;
			border-radius: 50%;
			background: #ffe6d2;
			opacity: 0.5;
		}
		&:nth-child(1) {
			&::before {
				content: "";
				position: absolute;
				width: 24px;
				height: 24px;
				top: 43px;
				left: 43px;
				background-image: url(../images/icons/rocketr.svg);
			}
		}
		&:nth-child(2) {
			&::before {
				content: "";
				position: absolute;
				width: 24px;
				height: 24px;
				top: 44px;
				left: 43px;
				background-image: url(../images/icons/settings.svg);
			}
		}
		&:nth-child(3) {
			&::before {
				content: "";
				position: absolute;
				width: 22px;
				height: 27px;
				top: 44px;
				left: 45px;
				background-image: url(../images/icons/support.svg);
			}
		}
	}
	&__item-title {
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 28px;
	}
	&__item-text {
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 20px;
		color: #5d5f6d;
		width: 300px;
	}
}
.services {
	background: #ffe6d2;
	&__inner {
		padding: 95px 0;
	}
	.subtitle {
		width: 777px;
		margin-bottom: 60px;
	}
	&__btn {
		@extend %btn;
		img {
			padding-top: 3px;
		}
	}
	&__content {
		padding-top: 100px;
		display: flex;
		gap: 32px;
	}
	&__content-item {
		padding: 111px 0 45px 48px;
		width: 405px;
		height: 335px;
		background-color: #fff;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			left: 48px;
			top: 48px;
			width: 47px;
			height: 47px;
			border-radius: 50%;
			background: rgba(255, 161, 85, 0.1);
		}
		&:nth-child(1) {
			&::before {
				content: "";
				position: absolute;
				left: 60px;
				top: 60px;
				width: 24px;
				height: 24px;
				background-image: url(../images/icons/headphones.svg);
			}
		}
		&:nth-child(2) {
			&::before {
				content: "";
				position: absolute;
				left: 60px;
				top: 60px;
				width: 24px;
				height: 24px;
				background-image: url(../images/icons/settings.svg);
			}
		}
		&:nth-child(3) {
			&::before {
				content: "";
				position: absolute;
				left: 60px;
				top: 60px;
				width: 24px;
				height: 24px;
				background-image: url(../images/icons/devolopment.svg);
			}
		}
	}
	&__content-title {
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 28px;
		margin-bottom: 10px;
	}
	&__content-text {
		font-size: 1.6rem;
		line-height: 24px;
		color: #5d5f6d;
		width: 325px;
		margin-bottom: 25px;
	}
	&__content-link {
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 24px;
		color: #444cfc;
		opacity: 0.87;
		img {
			padding-top: 8px;
			padding-left: 12px;
		}
		&:hover {
			opacity: 1;
		}
	}
}
.process {
	padding: 95px 0;
	&__text-box {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			right: 0;
			top: 20px;
			width: 26px;
			height: 27px;
			background-image: url(../images/icons/process-decor.svg);
		}
	}
	.subtitle {
		width: 733px;
	}
	.text {
		width: 642px;
	}
	&__content {
		padding-top: 70px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 52px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			bottom: 165px;
			right: -9px;
			width: 395px;
			height: 8px;
			background-image: url(../images/icons/process-item-decor.svg);
		}
	}
	&__content-item {
		width: 395px;
		height: 165px;
		border: 1px solid rgba(35, 37, 54, 0.17);
		padding: 12px 11px 28px 95px;
		position: relative;
		& + .process__content-item {
			&::after {
				content: "- - - - -";
				position: absolute;
				left: -52.5px;
				top: 50%;
				color: #dadadd;
			}
		}
		&:nth-child(4) {
			&::after {
				color: #fff;
			}
		}
		&::before {
			content: "";
			position: absolute;
			left: 44px;
			top: 44px;
			width: 24px;
			height: 24px;
		}
	}
	&__content-item--discover {
		&::before {
			background-image: url(../images/icons/discover.svg);
		}
		&::after {
			content: "";
			position: absolute;
			bottom: -8px;
			left: -1px;
			width: 395px;
			height: 8px;
			background-image: url(../images/icons/process-item-decor.svg);
		}
	}
	&__content-item--designing {
		&::before {
			height: 25px;
			background-image: url(../images/icons/designing.svg);
		}
	}
	&__content-item--devolopment {
		&::before {
			background-image: url(../images/icons/devolopment.svg);
		}
	}
	&__content-item--testing {
		&::before {
			background-image: url(../images/icons/testing.svg);
		}
	}
	&__content-item--devolopment2 {
		&::before {
			background-image: url(../images/icons/rocketr.svg);
		}
	}
	&__content-item--mainenance {
		&::before {
			background-image: url(../images/icons/maintenance.svg);
		}
	}
	&__content-number {
		text-align: right;
		font-weight: 600;
		font-size: 2.4rem;
		line-height: 32px;
		color: #232536;
		opacity: 0.2;
	}
	&__content-title {
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 28px;
		margin-bottom: 6px;
		&::before {
			content: "";
			position: absolute;
			left: 32px;
			top: 32px;
			width: 47px;
			height: 47px;
			background: rgba(255, 211, 175, 0.17);
			border-radius: 50%;
		}
	}
	&__content-text {
		font-size: 1.6rem;
		line-height: 24px;
		opacity: 0.6;
	}
}
.slider {
	background: #f9f9ff;
	padding: 115px 0 130px 0;
	&__inner {
		display: flex;
	}
	.subtitle,
	.text {
		width: 502px;
	}
	&__info {
		width: 502px;
		margin-right: 160px;
	}
	&__info-subtitle {
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 28px;
		margin-bottom: 15px;
	}
	&__info-list {
		display: flex;
		gap: 12px;
		margin-top: 25px;
		margin-bottom: 14px;
		img {
			border-radius: 50%;
		}
	}
	&__info-statistic {
		font-weight: 500;
		font-size: 1.2rem;
		line-height: 24px;
		span {
			font-size: 1.6rem;
		}
	}
	&__content {
		width: 605px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			right: 40px;
			top: -20px;
			width: 43px;
			height: 30px;
			background-image: url(../images/icons/customers-decor.svg);
		}
		&::before {
			content: "";
			position: absolute;
			left: -16px;
			top: 0;
			height: 340px;
			width: 16px;
			background-image: url(../images/icons/decor-slider.svg);
		}
	}
	&__item {
		width: 605px;
		height: 340px;
		background-color: #fff;
		padding: 50px 42px 42px 40px;
	}
	&__title {
		width: 500px;
		font-weight: 600;
		font-size: 2.4rem;
		line-height: 36px;
		opacity: 0.87;
		margin-bottom: 25px;
	}
	&__item-box {
		display: flex;
		justify-content: space-between;
	}
	&__item-author {
		align-items: center;
		display: flex;
		img {
			width: 38px;
			height: 38px;
		}
	}
	&__item-info {
		margin-left: 15px;
	}
	&__item-name {
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 28px;
		opacity: 0.87;
	}
	&__item-post {
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 20px;
		opacity: 0.6;
	}
	.slick-dots {
		margin-top: 25px;
		display: flex;
		gap: 10px;
		justify-content: center;
		align-items: center;
		button {
			font-size: 0;
		}
		li {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: #232536;
			opacity: 0.2;
			cursor: pointer;
		}
		.slick-active {
			opacity: 1;
			width: 12px;
			height: 12px;
		}
	}
}
.read {
	padding: 130px 0 95px 0;
	background: #ecf8f9;
	.subtitle {
		width: 710px;
		margin-bottom: 50px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: -20px;
			width: 16px;
			height: 16px;
			background: #666dff;
		}
	}
	&__content {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		display: flex;
	}
	&__item-info {
		padding: 32px 32px 0 32px;
		background-color: #fff;
	}
	&__item-img {
		width: 296px;
		height: 248px;
		object-fit: cover;
	}
	&__item-date {
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 20px;
		opacity: 0.6;
		margin-bottom: 8px;
	}
	&__item-title {
		width: 264px;
		font-weight: 600;
		font-size: 2.4rem;
		line-height: 36px;
		margin-bottom: 25px;
	}
	&__item-link {
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 24px;
		color: #444cfc;
		opacity: 0.87;
		img {
			padding-top: 8px;
			padding-left: 12px;
		}
		&:hover {
			opacity: 1;
		}
	}
}
.subscribe {
	padding: 95px 0;
	color: #ffffff;
	.title {
		opacity: 1;
	}
	.subtitle {
		font-weight: 600;
		font-size: 3.6rem;
		width: 488px;
		line-height: 54px;
	}
	&__inner {
		background: #666dff;
		padding: 95px;
		display: flex;
		align-items: center;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			width: 24px;
			height: 100%;
			background-image: url(../images/icons/subscrive-deocr-2.svg);
		}
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 88.6px;
			height: 80px;
			background-image: url(../images/icons/subscrive-deocr-1.svg);
		}
	}
	&__text-block {
		margin-right: 120px;
	}
	&__input {
		width: 455px;
		height: 65px;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		padding: 20px;
	}
}
